meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="")
meta(name="Keywords" content="")

title Youtube Data API sample

//- CSS
link(rel="stylesheet" type="text/css" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
link(rel="stylesheet" type="text/css" href="css/style.css")
